<html>

<head>
	<meta charset="UTF-8">
	<title>Inspire</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>



	<div id="image">

		<img :src="image">

	</div>



	<div id="weather" @click="toggleUnit()" class='weather'>
		{{displayWeather.temp}}
	</div>

	<div id="quote">
		<div v-html="displayQuote.quote" class="quote trigger">

		</div>
		<div v-html="displayQuote.author" class="hidden-quote">

		</div>
	</div>

	<div id="todo" class="todos">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>{{count}} things to do</h3>
			</div>
			<div class="panel-body">
				<form @submit.prevent="addTodo(text)">
					<input type="text" v-model="text">
					<button type='submit'>Add Todo</button>
				</form>
				<ul v-for="(todo, tIndex) in todos">
					<li> {{todo}} </li>
					<button @click="removeTodo(tIndex)">DONE!</button>

				</ul>
			</div>
		</div>
	</div>






	<!--JS Libraries-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

	<!--Initialize App-->
	<script src="app/init.js"></script>
	<script src="app/components/weather/weather-service.js"></script>
	<script src="app/components/image/image-service.js"></script>
	<script src="app/components/quote/quote-service.js"></script>
	<script src="app/components/todo/todo-service.js"></script>

	<!--Load your scripts below-->
	<script src="app/components/weather/weather-controller.js"></script>
	<script src="app/components/image/image-controller.js"></script>
	<script src="app/components/quote/quote-controller.js"></script>
	<script src="app/components/todo/todo-controller.js"></script>

</body>

</html>